<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCh3ad0SJzbMcBLscDW4lnQ_gmOQZs5QWw</string>
	<key>GCM_SENDER_ID</key>
	<string>1032915521626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wishlist</string>
	<key>PROJECT_ID</key>
	<string>wishlist-cabcd</string>
	<key>STORAGE_BUCKET</key>
	<string>wishlist-cabcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032915521626:ios:542c4da4e976b5fc57c863</string>
</dict>
</plist>